@model ControleFinanceiro.Models.ListaDesejo

@{
	ViewData["Title"] = "Excluir Desejo!!";
	Layout = "~/Views/Shared/_LayoutGeral.cshtml";
}
<style>

	.modal-backdrop {
		z-index: 1;
	}
</style>
<body>
	<div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-9 centro">
					<div class="card delete-texto">
						<hr />
						<div class="header">
							<h4 class="title text-danger">@ViewData["Title"]</h4>
						</div>
						@{await Html.RenderPartialAsync("~/Views/ListaDesejos/_PartialDeleteContent.cshtml", Model); }
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
