@model ControleFinanceiro.Models.ViewModel.DesejoViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>ListaDesejo</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ListaDesejos.DesejoId" />
            <div class="form-group">
                <label asp-for="ListaDesejos.DesejoValor" class="control-label"></label>
                <input asp-for="ListaDesejos.DesejoValor" class="form-control" />
                <span asp-validation-for="ListaDesejos.DesejoValor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDesejos.DesejoData" class="control-label"></label>
                <input asp-for="ListaDesejos.DesejoData" class="form-control" />
                <span asp-validation-for="ListaDesejos.DesejoData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDesejos.Categoria" class="control-label"></label>
                <input asp-for="ListaDesejos.Categoria" class="form-control" />
                <span asp-validation-for="ListaDesejos.Categoria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDesejos.FormaPagamento" class="control-label"></label>
                <input asp-for="ListaDesejos.FormaPagamento" class="form-control" />
                <span asp-validation-for="ListaDesejos.FormaPagamento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDesejos.ListaProduto" class="control-label"></label>
                <input asp-for="ListaDesejos.ListaProduto" class="form-control" />
                <span asp-validation-for="ListaDesejos.ListaProduto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ListaDesejos.StatusCompra" class="control-label"></label>
                <input asp-for="ListaDesejos.StatusCompra" class="form-control" />
                <span asp-validation-for="ListaDesejos.StatusCompra" class="text-danger"></span>
            </div>






            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
