@model ControleFinanceiro.Models.ListaProduto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<h4>ListaProduto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ProdutoNome" class="control-label"></label>
                <input asp-for="ProdutoNome" class="form-control" />
                <span asp-validation-for="ProdutoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProdutoDescricao" class="control-label"></label>
                <input asp-for="ProdutoDescricao" class="textarea" />
                <span asp-validation-for="ProdutoDescricao" class="text-danger"></span>
            </div>

            <div class="md-form">
                <i class="fas fa-pencil-alt prefix"></i>
                <textarea id="form10" class="md-textarea form-control" rows="3"></textarea>
                <label for="form10">Icon Prefix</label>
            </div>

            <div class="md-form">
                <textarea id="form7" class="md-textarea form-control" rows="3"></textarea>
                <label for="form7">Material textarea</label>
            </div>

            <div class="form-group purple-border">
                <label for="exampleFormControlTextarea4">Colorful border</label>
                <textarea class="form-control" id="exampleFormControlTextarea4" rows="3"></textarea>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
