@model ControleFinanceiro.Models.Salario

@{
	ViewData["Title"] = "Alterar Salario";
	Layout = "~/Views/Shared/_LayoutGeral.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 centro">
				<div class="card">
					<hr />
					<div class="header">
						<h4 class="title">@ViewData["Title"]</h4>
						<br />
					</div>
					<div class="content">
						<div class="row">
							<div class="form-group col-md-12">
								<form asp-action="Edit">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									<input type="hidden" asp-for="SalarioId" />

									<div class="form-group">
										<label asp-for="SalarioNome" class="control-label">
											<i class="fa fa-edit title" aria-hidden="true"></i>
											<span style="padding-left:10px">Descrição</span>
										</label>
										<input asp-for="SalarioNome" class="form-control" />
										<span asp-validation-for="SalarioNome" class="text-danger"></span>
									</div>

									<div class="form-group">
										<label asp-for="SalarioValor" class="control-label">
											<i class="fa fa-usd title" aria-hidden="true"></i>
											<span style="padding-left:10px">Valor</span>
										</label>
										<input asp-for="SalarioValor" class="form-control" />
										<span asp-validation-for="SalarioValor" class="text-danger"></span>
									</div>

									<div class="form-group">
										<label asp-for="SalarioData" class="control-label">
											<i class="fa fa-calendar title" aria-hidden="true"></i>
											<span style="padding-left:10px">Previsão</span>
										</label>
										<input asp-for="SalarioData" class="form-control" />
										<span asp-validation-for="SalarioData" class="text-danger"></span>
									</div>

								
									<div class="form-group text-center h3">
										<input type="submit" value="Atualizar" class="btn btn-block btn-fill" />
										<a asp-action="Index" class="btn btn-info btn-fill btn-block pull-right">Voltar</a>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section ScriptPage {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}