@model ControleFinanceiro.Models.Infra.UsuarioApp
@{
	ViewData["Title"] = "Alterar Perfil";
	Layout = "~/Views/Shared/_LayoutGeral.cshtml";
}

<div class="content">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-9 centro">
				<div class="card">
					<hr />
					<div class="header">
						<h4 class="title">@ViewData["Title"]</h4>
						<br />
					</div>
					<div class="content">
						<div class="row">
							<div class="form-group col-md-12">
								<form enctype="multipart/form-data" asp-action="PerfilUsuario">
									<div asp-validation-summary="ModelOnly" class="text-danger"></div>
									
									<input type="hidden" asp-for="Id" />
									
									<div class="form-group">
										<label asp-for="PrimeiroNome" class="control-label">
											<i class="fa fa-user-circle title" aria-hidden="true"></i>
											<span style="padding-left:10px">Nome</span>
										</label>
										<input asp-for="PrimeiroNome" class="form-control" />
										<span asp-validation-for="PrimeiroNome" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="Sobrenome" class="control-label">
											<i class="fa fa-user-circle-o title" aria-hidden="true"></i>
											<span style="padding-left:10px">Sobre Nome</span>
										</label>
										<input asp-for="Sobrenome" class="form-control" />
										<span asp-validation-for="Sobrenome" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="Profissao" class="control-label">
											<i class="fa fa-suitcase title" aria-hidden="true"></i>
											<span style="padding-left:10px">Profissão</span>
										</label>
										<input asp-for="Profissao" class="form-control" />
										<span asp-validation-for="Profissao" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="DataNascimento" class="control-label">
											<i class="fa fa-birthday-cake title" aria-hidden="true"></i>
											<span style="padding-left:10px">Data de Nascimento</span>
										</label>
										<input asp-for="DataNascimento" class="form-control" />
										<span asp-validation-for="DataNascimento" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label asp-for="Salario.SalarioValor" class="control-label">
											<i class="fa fa-usd title" aria-hidden="true"></i>
											<span style="padding-left:10px">Valor do Salário</span>
										</label>
										<input asp-for="Salario.SalarioValor" class="form-control" />
										<span asp-validation-for="Salario.SalarioValor" class="text-danger"></span>
									</div>
									<div class="form-group">
										<label class="control-label">Foto</label>
										<input type="file" name="foto" class="form-control" />
									</div>
									<div class="form-group	text-center	h3">
										<input type="submit" value="Atualizar Perfil" class="btn btn-block btn-fill" />
										<a asp-controller="Controles" asp-action="Index" class="btn btn-info btn-fill btn-block pull-right">Voltar</a>
									</div>
								</form>
							</div>
							<div class="col-3">
								<img class="img-thumbnail" src="@Url.Action(" PegarFoto", "UsuarioApp" , new { id = Model.Id })" style="display:block; margin-left:auto;margin-right:auto;"><img />
								<div class="checkbox">
									<label>
										<input type="checkbox" name="chkRemoverFoto" value="Sim">Remover Foto
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@section ScriptPage {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}