@model ControleFinanceiro.Models.Login

@{
    ViewData["tittle"] = "Controle Acesso";
    //Layout = "";
}



<title>@ViewData["tittle"]</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">



<link rel="stylesheet" type="text/css" href="~/css/style.css">

<div class="container">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-header">
                <h3 class="text-center">Controle Acesso</h3>
            </div>
            <div class="card-body">
                <form method="post" asp-action="Login">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="input-group form-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                        </div>
                        <input asp-for="Email" type="email" class="form-control" placeholder="E-mail">
                        </div>
                        <div>
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                            <div>
                                <input asp-for="Senha" type="password" class="form-control" placeholder="Senha">
                            </div>
                          
                        </div>
                    
                    <div class="row align-items-center remember">
                        <input type="checkbox">lembrar
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Login" asp-action="Logar" class="btn float-right login_btn">
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <!--<div class="d-flex justify-content-center links">
                    Não tem uma conta?<a href="#">Cadastrar</a>
                </div>-->
                <div class="d-flex justify-content-center">
                    <a href="/Views/modal.cshtml">Esqueceu sua senha?</a>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
